body{
    margin: 0;
    padding: 0;
    background-color: hsl(231, 14%, 10%);
    text-align: center;
}
.mapContainer{
    margin: auto;
    margin-top: 100px;
    display: grid;
    width: fit-content;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
}
.mapContainer:hover{
    cursor: pointer;
}
.mapTile{
    background-color: white;
}
.mapTile:hover{
    filter: brightness(85%);
}
.buttonContainer{
    display: flex;
    justify-content: center;
    margin-top: 75px;
}
.button{
    font-weight: bolder;
    font-size: large;
    height: 50px;
}
.button:hover{
    cursor: pointer;
    background-color: rgb(255, 172, 172);
    border: transparent;
}
.aviso{
    font-family: Arial;
    color: white;
}